doctype html
head
  meta(charset="utf-8")
  //- <!-- Latest compiled and minified CSS -->
  //- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  //-
  //- <!-- Latest compiled and minified JavaScript -->
  //- //- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="custom.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:100,300,700,800">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="semantic/dist/semantic.min.js"></script>
  <script src="custom.js"></script>


  title CodeCHS
body(style="background:none;")
  .ui.segment(style="background:none;height:100%;")
    .ui.container(style="margin-top:125px;margin-bottom:75px;")
      h1.ui.dividing.header.myfont(style="text-align:center;font-size:80px;letter-spacing:18px;") MR.BEN.WELLS
    .ui.container
      .ui.two.column.grid.stackable
        .column(style="text-align:right;margin-top:15px;")
          .header.ui.myfont(style="font-size:-webkit-xxx-large;") Hi There,
          .header.ui.myfont(style="font-size:35px;") My name is Ben Wells.
          .header.ui.myfont(style="font-size:18px;") I create beautiful & functional sites and applications for the web.
        .column
          img.ui.medium.circular.image(src="me.png")
    .ui.container
      .ui.two.column.grid.stackable
        .column(style="text-align:center;")
          .ui.secondary.pointing.icon.labeled.compact.menu.myfont
            a.item
              i.linkedin.icon.inverted
            a.item
              i.github.icon.inverted
            a.item
              i.twitter.icon.inverted
        .column
          .ui.secondary.pointing.icon.labeled.compact.menu.myfont(style="margin-top:16px;")
            a.item Home
            a.item About
            a.item Work
            a.item Music
            a.item Thoughts
  //- .ui.segment(style="background:none;")
  //-   .ui.text.container
  //-     <h1 class="ui icon header myfont">
  //-       <i class="settings icon inverted"></i>
  //-       <div class="content">
  //-         Account Settings
  //-         <div class="sub header">Manage your account settings and set e-mail preferences.</div>
  //-       </div>
  //-     </h1>
